{% extends 'contractors.html' %}
{% block content %}
<!--  <h1>All Job Applications</h1>-->
<!--    <ul>-->
<!--        {% for application in job_applications %}-->
<!--            <li>{{ application.applicant.user }} applied for {{ application.job.title }}</li>-->
<!--        {% empty %}-->
<!--            <li>No job applications found.</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->

<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">All Job Applications</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                          <th>SI No</th>
                          <th>EMPLOYEE NAME</th>
                          <th>YEARS OF EXPERIENCE</th>
                          <th> MOBILE NO</th>
                          <th>JOB PREFERENCE</th>
                          <th>APPLICANT</th>
                          <th>APPLIED DATE</th>
<!--                          <th>REQUIRED POSITIONS</th>-->
                      </tr>
                      </thead>
                        <tbody>
                        {% for f in job_applications %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{f.applicant.user}}</td>
                            <td>{{f.applicant.Experiance }}</td>
                            <td>{{f.applicant.Mobile_No }}</td>
                            <td>{{f.job}}</td>
                            <td>{{f.applicant}}</td>
                            <td>{{f.applied_at}}</td>
<!--                            <td>{{f.Required_Positions}}</td>-->

                        {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
</div>
{% endblock %}